<header
  class="absolute w-full bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:58px_58px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]">
  <div class="flex flex-row items-center justify-around gap-4 p-10 w-full">
    <div class="flex flex-row items-center justify-start gap-4">
      <app-logo></app-logo>
      <div class="flex flex-col items-start justify-start">
        <span class="text-2xl font-semibold">JSConf España<span
            class="bg-[#F7DF1F] rounded-3xl font-semibold px-4 text-black text-lg ml-4">2025</span></span>
        <span class="text-sm font-thin">1 MARZO 2025</span>
      </div>
    </div>
    <div class="mx-20">
      <nav class="flex flex-row items-center justify-start gap-4">
        <a href="#"
          class="hover:text-gray-300 hover:cursor-pointer py-1 border-b-2 border-b-transparent transition hover:border-b-white font-clash text-lg active:border-b-javascript">AGENDA</a>
        <a href="#"
          class="hover:text-gray-300 hover:cursor-pointer py-1 border-b-2 border-b-transparent transition hover:border-b-white font-clash text-lg active:border-b-javascript">SPEAKERS</a>
        <a href="#"
          class="hover:text-gray-300 hover:cursor-pointer py-1 border-b-2 border-b-transparent transition hover:border-b-white font-clash text-lg active:border-b-javascript">SPONSORS</a>
      </nav>
    </div>
    <div class="flex flex-row items-center justify-start gap-4">
      <button class="text-white font-semibold border-2 border-white p-3 hover:bg-white hover:text-black flex flex-row">
        <span class="font-semibold">¡Quiero patrocinar! </span>
        <svg role="img" width="24" height="24" fill="none" slot="icon-right" class="size-6">
          <symbol id="a:17">
            <path d="m16.004 9.414-8.607 8.607-1.414-1.414L14.59 8H7.003V6h11v11h-2V9.414Z" fill="currentColor">
            </path>
          </symbol>
          <use href="#a:17"></use>
        </svg>
      </button>
      <button
        class="bg-[#F7DF1F] text-black font-semibold border-2 border-[#F7DF1F] p-3 hover:bg-white hover:text-black hover:border-white">
        <span class="font-semibold">
          ¡Consigue tus entradas!</span>
      </button>
    </div>
  </div>
</header>
