<header class="absolute w-full">
  <div class="grid md:grid-cols-3 grid-cols-2 items-center gap-4 mt-6 p-4 mx-auto">
    <div class="flex flex-row items-center justify-center gap-4">
      <app-logo></app-logo>
      <div class="flex flex-col items-start justify-center">
        <span class="md:text-2xl text-lg font-semibold">JSConf España<span
            class="bg-[#F7DF1F] rounded-3xl font-semibold px-4 text-black md:text-lg text-sm ml-4">2025</span></span>
        <span class="text-sm font-thin">1 MARZO 2025</span>
      </div>
    </div>
    <div class="hidden md:flex flex-row items-center justify-center gap-4">
      <nav class="flex flex-row items-center justify-center gap-4">
        <a href="#"
          class="hover:text-gray-300 hover:cursor-pointer py-1 border-b-2 border-b-transparent transition hover:border-b-white font-clash text-lg active:border-b-javascript">AGENDA</a>
        <a href="#"
          class="hover:text-gray-300 hover:cursor-pointer py-1 border-b-2 border-b-transparent transition hover:border-b-white font-clash text-lg active:border-b-javascript">SPEAKERS</a>
        <a href="#"
          class="hover:text-gray-300 hover:cursor-pointer py-1 border-b-2 border-b-transparent transition hover:border-b-white font-clash text-lg active:border-b-javascript">SPONSORS</a>
      </nav>
    </div>
    <div class="hidden lg:flex flex-row items-center justify-center gap-4">
      <button class="text-white font-semibold border-2 border-white p-3 hover:bg-white hover:text-black flex flex-row">
        <span class="font-semibold">¡Quiero patrocinar! </span>
        <svg role="img" width="24" height="24" fill="none" slot="icon-right" class="size-6">
          <symbol id="a:17">
            <path d="m16.004 9.414-8.607 8.607-1.414-1.414L14.59 8H7.003V6h11v11h-2V9.414Z" fill="currentColor">
            </path>
          </symbol>
          <use href="#a:17"></use>
        </svg>
      </button>
      <button
        class="bg-[#F7DF1F] text-black font-semibold border-2 border-[#F7DF1F] p-3 hover:bg-white hover:text-black hover:border-white">
        <span class="font-semibold">
          ¡Consigue tus entradas!</span>
      </button>
    </div>
    <div class="flex flex-row items-center justify-end gap-4">
      <button id="menuButton" aria-expanded="false" aria-controls="menuMobileContent"
        class="hamburgerButton group relative flex h-[20px] w-[24px] flex-col items-end justify-between lg:hidden w-6"
        aria-label="Abrir menú de navegación"> <span
          class="group-[.open]:translate-y-2 group-[.open]:rotate-45 h-[2px] w-6 bg-white transition ease transform duration-300"></span>
        <span class="group-[.open]:opacity-0 w-4/6 h-[2px] w-6 bg-white transition ease transform duration-300"></span>
        <span
          class="group-[.open]:-translate-y-[0.6rem] group-[.open]:-rotate-45 h-[2px] w-6 bg-white transition ease transform duration-300"></span>
      </button>
    </div>
  </div>
</header>
